@tailwind base;
@tailwind components;
@tailwind utilities;

/* No necesitas incluir las etiquetas <link> aquí si cargas la fuente desde Google Fonts */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #04548b;

  font-family: 'Roboto', sans-serif; /* Utilizando la fuente Roboto desde Google Fonts */
}
